/config/config.local.php
/config/install.debug.local.php
/storage/install.lock
/storage/logs/*.log
/storage/private/visitors/*
!/storage/private/visitors/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
.DS_Store
Thumbs.db
.idea/
.vscode/
